body {
  background-color: white !important;
  overflow-x: hidden;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

.p {
  font-family: 'Roboto Condensed', sans-serif;
}

form {
  font-family: 'Roboto Condensed', sans-serif;
}

option {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #8b2890;
  font-size: 50px !important;
  font-weight: bolder;
  text-align: left;
  font-family: 'Playfair Display', serif !important;
  text-shadow: 1px 1px white;
}

h2 {
  color: black;
  font-size: 30px !important;
  text-align: left;
  font-family: 'Dancing Script', cursive;

}

h3 {
  color: #8b2890;
  font-size: 50px !important;
  font-weight: bolder;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-shadow: 1px 1px black;
}

.title {
  background-color: #bfd9d9;
  width: 100%;
}

.topnav {
  background-color: #ffe5ff;
  width: 100vw;
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnav a:hover {
  background-color: lightcyan;
  color: #bfd9d9;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}

.centertext {
  text-align: center;
  font-size: 15px;
}

.buttonspace {
  margin-right: 10px;
  margin-left: 10px;
  padding-top: -10em;
}

.responsive {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.faqquestion {
  font-weight: 900;
  font-size: larger;
  font-family: 'Roboto Condensed', sans-serif;
}

.buttoncolor {
  background-color: #bfd9d9 !important;
  border-color: white !important;
}

.topnav .icon {
  display: none;
}

.navlink {
  color: #267d8e !important;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  stroke: 0.5px solid black;
}

.footerlink {
  color: white !important;
  text-decoration: none;
  padding-left: 20px;
}

centered-element {
  width: 150px;
  margin: auto;
  display: block;
  float: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bfd9d9;
  color: white;
  text-align: center;
}

.centerlistitem {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.centerpaypalbutton {
  margin: auto;
  width: 60%;
}

form {
  border-radius: 4px;
  background-color: none;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


input[type=text],
input[type=email] {
  border: 1px solid #8b2890;
  border-radius: 4px;
  margin-bottom: 2px;
}

.select-subject {
  border: 1px solid #8b2890;
  border-radius: 4px;
  margin-bottom: 2px;
}

textarea {
  border: 1px solid #8b2890;
  border-radius: 4px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.submit-button {
  background-color: #bfd9d9;
  color: #8b2890;
  border: 1px solid #8b2890;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 5px;
  margin-bottom: 5px;
}

.submit-button:hover {
  background-color: lightcyan;
}

.btn:hover {
  background-color: #ffe5ff !important;
}

.btn {
  color: #8b2890 !important;
  margin-bottom: 5px !important;
}

ol.a {
  list-style-type: disc;
  list-style-position: inside;
}

.bold {
  font-weight: 600;
}