@media only screen and (max-height:812px) {
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  h1 {
    color: #8b2890;
    font-size: 35px !important;
    font-weight: bolder;
    text-align: center !important;
  }

  h2 {
    color: black;
    font-size: 25px !important;
    text-align: center;
  }

  h3 {
    color: #8b2890;
    font-size: 35px !important;
    font-weight: bolder;
    font-family: Verdana, sans-serif;
    text-align: center;
  }

  button {
    font-size: 10px !important;
  }

  img {
    width: 100vw;
    padding: 10;
  }

  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .footerlink {
    color: white !important;
    text-decoration: none;
    padding-left: 20px;
    font-size: 10px !important;
  }

  .smallfootertext {
    font-size: 10px !important;
  }
}